<div class="video-controller">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        2) LOAD ZIP:
      </div>
      <div class="col-lg-9">
        <input type="file" id="input-load-zip" value="OPEN PROJECT" accept=".zip"/>
      </div>
    </div>
    <div class="row">
      <input type="button" id="first-frame" value="|<" ng-click="firstFrame()"/>
      <input type="button" id="play" value=">" ng-click="play()"/>
      <input type="button" id="pause" value="||" ng-click="pause()"/>
      <input type="button" ng-click="automatic()" value="Run automatic analysis"/>
    </div>
  </div>
</div>
