#video {
	width: 400px;
	margin:auto;
}

.canvas {
	display: none;
}

input[name='cueDuration'] {    
	background-color: #DF959B;
}    

.hidden {
	max-height: 0 !important;
	overflow: hidden !important;
	transition:	max-height 1s ease-in;
}

.hidden.hidden-invisible {
	opacity: 0 !important;
	transition: opacity 0.5s ease-in;
}

section {
	opacity: 1;
	overflow: hidden;
	transition: opacity 0.5s ease-in,
		max-height 1s ease-in;
}

header {
	padding: 0.5em;
	background-color: #E6E6E6;	
}

header > h1 {
	margin: 0;
}

header > h2 {
	margin: 1rem 0 -1rem 0;
	padding: 0px;
	line-height: 6rem;
	font-size: 2.5rem;
}

#menu-init {
	height: 25em;
	max-height: 25em;
}

#menu-init > div {
	height: 25em;
	padding-top: 10em;
	padding-bottom: 10em;
}

div.dashed {
	height: 12em;
	margin:-8em 2em -8em 0em;
	padding-top: 8em;
	border: 3px dashed #8C8C8C;
	border-radius: 4rem;
	background-color: #E6E6E6;
}

#menu-create {
	background-color: #95BADF;
	min-height: 15em;
	padding-top: 2em;
	padding-bottom: 2em;
}

#menu-main {
	background-color: #DFB695;
}

#menu-manual-editor {
	background-color: #DFDA95;
}

#menu-analysis {
	background-color: #9FDF95;
}

.centered {
	margin: 0 auto;
}

.inline {
	display: inline;
}

.centered-content {
	text-align: center;
}

.full-screen {
	height: 100%;
}

h2 {
	
}
