<section class="metadata-editor container-fluid">
  <div class="row">
    <h4>Metadata Editor</h4>
    <div class="col-lg-4">
      <button ng-click="InTc()">Set IN timecode</button>
      IN:
      <input type="time" step="1" id="cueIn"></input>
    </div>
    <div class="col-lg-4">
      <button ng-click="OutTc">Set OUT timecode</button>
      OUT:
      <input type="time" step="1" id="cueOut"></input>
    </div>
    <div class="col-lg-4">
      Cue Duration:
      <input type="time" step="1" id="cueDuration"></input>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10">
      <textarea name="message" class="u-full-width">Insert the text for the subtitle</textarea>
    </div>
    <div class="col-lg-2">
      <button id="SaveCue">Save Cue</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <button ng-click="PreviousCue">
        << Previous Cue</button>
    </div>
    <div class="col-lg-4">
      <input id="cueIndex" type="number" min="0" step="1"></input>
    </div>
    <div class="col-lg-4">
      <button ng-click="NextCue">Next Cue >></button>
    </div>
  </div>
  
</section>