<div class="metadata-editor">
	<div class="container-fluid">		
		<div class="row">
			<h4>Metadata Editor</h4>
			<div class="col-lg-4">
				<button id="InTc">Set IN timecode</button>
		 		IN:<input type="time" step="1" id="cueIn">
	 		</div>
	 		<div class="col-lg-4">
	    		<button id="OutTc">Set OUT timecode</button>
				OUT:<input type="time" step="1" id="cueOut">
			</div>
			<div class="col-lg-4">
				Cue Duration:
				<input type="time" step="1" id="cueDuration">
			</div>
		</div>
		<div class="row">	
			<div class="col-lg-10">
				<textarea name="message" class="u-full-width">Insert the text for the subtitle</textarea> 
			</div>
			<div class="col-lg-2">
		  		<button id="SaveCue">Save Cue</button>
		  	</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
		  		<button id="PreviousCue"><< Previous Cue</button>
			</div>
			<div class="col-lg-4">
				<input id="cueIndex" type="number" min="0" step="1">
		  	</div>
		  	<div class="col-lg-4">	
		  		<button id="NextCue">Next Cue >></button> 
		  	</div>
		</div>	

		<div class="row">
			<div class="col-lg-6">
		  		<button id="color-analysis"> Color Analysis >></button>
			</div>
		</div>	
		<div class="row">
			<div class="col-lg-6">
		  		<h4>temp info:</h4>
		  		{{project.project.analysis[$parent.$parent.$parent.activeTab]}}
			</div>
		</div>

		
	</div>
</div>  