<div class="tab">
	<div class="container-fluid">
		<div class="row">	
			<ul class="nav nav-pills">
				<li ng-class="{ active:isSelected($index)}" ng-repeat="item in items">
					<a href class="tag-button" ng-click="selectTab($index)">{{ item.name }}</a>
					<a href class="delete-button" ng-if="isSelected($index) && $parent.isDeletable && $index>2" ng-click="remove($index)"></a>
				</li> <!-- end scope item -->
			</ul>
		</div>

		<div ng-transclude></div><!-- tab-panel placeholder -->
	
	</div>   <!-- end container -->
</div>  