<div class="video-player">
	<div class="container-fluid">		
		<div class="row">
			<section class="panel" id="video-player">

				<!-- <input type="file" accept="video/*"/> -->
		    <div id="message"></div>
				<video id="video" controls autoplay>
						<source src="dev_assets/caminandes_llama_drama.mp4" type="video/mp4" />

		        <!-- <video src="dev_assets/SAMPLE.m4v" controls id="video" ng-click="play($index)"></video> -->	
		        <track src="dev_assets/sub.vtt" kind="subtitles" 
		        label="Analysis" srclang="es"/>
		    </video>

        <canvas id="canvas"></canvas>

      </section>
		</div>		
	</div>
</div>  